@media screen and (min-width: 1024px) {
	body {
		width: 1008px;
	}
}

body {
	margin: 0;
	padding: 8px 8px 32px 8px;
	background-color: #eee;
	font-family: sans-serif;
	font-size: 13px;
	color: #444;
}

/**** Navigation Bar *********************************************************/

nav.fixed-top.navbar {
	--bs-navbar-padding-x: 0;
	--bs-navbar-padding-y: 0;
	--bs-navbar-brand-font-size: 15px;
}

nav.fixed-top.navbar .nav-link {
	--bs-nav-link-font-size: 15px;
}

nav.fixed-top.navbar .dropdown-menu {
	--bs-dropdown-font-size: 15px;
	--bs-dropdown-link-active-color: #fff;
	--bs-dropdown-link-active-bg: #777;
}

.navbar-brand .logo {
	width: 1em;
	height: 1em;
	content: url(icon-192x192.png);
}

/**** Header *****************************************************************/

header {
	margin: 40px 0 32px 0;
	border: outset 3px #ddd;
	padding: 4px 4px 4px 8px;
	background-color: #ddd;
	display: flex;
	gap: 8px;
}

header img {
	display: block;
	flex: 0 1 auto;
	width: 32px;
	height: 32px;
}

header h1 {
	display: block;
	flex: 1 0 fit-content;
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 32px;
}

header a {
	display: block;
	flex: 0 1 auto;
	line-height: 32px;
}

/**** Section ****************************************************************/

section {
	margin: 32px 0 0 0;
}

section > :not(h2) {
	margin-left: 8px;
}

section h2 {
	max-width: 800px;
	margin: 0;
	border-bottom: double 3px #000;
	padding: 0 0 0 4px;
	font-size: 20px;
	line-height: 27px;
}

section h2 img {
	width: 20px;
	height: 20px;
	vertical-align: -2px;
}

/**** Table ******************************************************************/

table {
	margin: 16px 0 0 0;
	border: 2px solid #888;
	empty-cells: show;
	border-spacing: 0;
	border-collapse: collapse;
	background-color: #fff;
	caption-side: top;
}

caption {
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}

th,
td {
	border: 1px solid #888;
	padding: 4px 8px;
}

td hr {
	margin: 4px 0;
	border: 1px dashed #888;
}

thead th,
table.form tbody th {
	background-color: #ea0;
	color: #fff;
	font-weight: normal;
}

tbody th {
	font-weight: bold;
	text-align: left;
}

table.fit1 tr > :nth-child(1) {
	white-space: nowrap;
	width: 1em;
}

table.fit2 tr > :nth-child(2) {
	white-space: nowrap;
	width: 1em;
}

table.fix1 tr > :nth-child(1) {
	width: 20%;
}

/**** List *******************************************************************/

menu {
	margin: 16px 0 0 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
}

menu h3 {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
}

menu h3 + ul {
	margin-left: 16px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li.recommendation {
	background-color: #cfc;
}

ul li.recommendation::before {
	font-family: bootstrap-icons !important;
	content: "\f417\20";
}

ul li.caution {
	background-color: #ff8;
}

ul li.caution::before {
	font-family: bootstrap-icons !important;
	content: "\f33b\20";
}

li img {
	width: 1em;
	height: 1em;
	vertical-align: -0.1em;
}

/**** Block ******************************************************************/

p {
	margin: 16px 0 0 0;
}

img.landscape,
img.portrait {
	border: 2px outset #eee;
}

img.landscape.ipad-mini {
	width: 566px;
	height: 372px;
}

img.portrait.ipad-mini {
	width: 372px;
	height: 566px;
}

details {
	margin: 16px 0 0 0;
	border: 1px solid #888;
	border-radius: 8px;
	padding: 8px;
	background-color: #ddd;
}

details[open] {
	background-color: #fff;
}

summary {
	font-size: 15px;
	font-weight: bold;
}

/**** Text *******************************************************************/

u {
	font-weight: normal;
	font-style: normal;
	text-decoration: underline 2px #f44;
}

mark {
	font-weight: normal;
	font-style: normal;
	background: linear-gradient(transparent 25%, #ff0 25%, #ff0 75%, transparent 75%);
}

span.link {
	color: #00f;
	text-decoration: underline #00f;
	cursor: pointer;
}

span.gain {
	color: #00f;
}

span.lose {
	color: #f00;
}
