/**** Icon image *************************************************************/

img.speed {
	content: url("images/speed.png");
}

img.stamina {
	content: url("images/stamina.png");
}

img.power {
	content: url("images/power.png");
}

img.guts {
	content: url("images/guts.png");
}

img.intelligence {
	content: url("images/intelligence.png");
}

img.friend {
	content: url("images/friend.png");
}

img.group {
	content: url("images/group.png");
}

img.sprint {
	content: url("images/sprint.png");
}

img.mile {
	content: url("images/mile.png");
}

img.classic {
	content: url("images/classic.png");
}

img.long {
	content: url("images/long.png");
}

img.dirt {
	content: url("images/dirt.png");
}

img.lead {
	content: url("images/lead.svg");
}

img.front {
	content: url("images/front.svg");
}

img.looker {
	content: url("images/looker.svg");
}

img.closer {
	content: url("images/closer.svg");
}

/**** Status *****************************************************************/

.status::before {
	content: "ステータス「";
}

.status::after {
	content: "」";
}

/**** Event ******************************************************************/

.event::before {
	content: "イベント「";
}

.event::after {
	content: "」";
}

/**** Skill ******************************************************************/

.skill::before {
	content: "スキル「";
}

.skill::after {
	content: "」";
}

.skill.rank1::before {
	content: "スキル★1「";
}

.skill.rank2::before {
	content: "スキル★2「";
}

.skill.rank3::before {
	content: "スキル★3「";
}

.skill.rank4::before {
	content: "スキル★4「";
}

.skill.rank5::before {
	content: "スキル★5「";
}

.skill.lead::after {
	content: "」(逃げ) ";
}

.skill.front::after {
	content: "」(先行) ";
}

.skill.front-looker::after {
	content: "」(先行/差し) ";
}

.skill.looker::after {
	content: "」(差し) ";
}

.skill.closer::after {
	content: "」(追込) ";
}

.skill.sprint::after {
	content: "」(短距離) ";
}

.skill.sprint-mile::after {
	content: "」(短距離/マイル) ";
}

.skill.mile::after {
	content: "」(マイル) ";
}

.skill.mile-classic::after {
	content: "」(マイル/中距離) ";
}

.skill.classic::after {
	content: "」(中距離) ";
}

.skill.classic-long::after {
	content: "」(中/長距離) ";
}

.skill.long::after {
	content: "」(長距離) ";
}
