button,
td,
th {
	font-family: sans-serif;
	font-size: 9pt;
	color: #444;
}

table {
	border: 2px solid #ccc;
	border-collapse: collapse;
	empty-cells: show;
}

th,
td {
	border: 1px solid #ccc;
	padding: 2px;
	font-weight: normal;
}

thead th {
	color: #fff;
}

tbody tr {
	background-color: #fff;
}

td:first-child {
	text-align: right;
}

#display {
	margin-top: 4px;
}

#display.skills #skill-matrix {
	display: table;
}

#display.idols #skill-matrix {
	display: none;
}

#display.skills #idol-list {
	display: none;
}

#display.idols #idol-list {
	display: table;
}

/** For Cute */

.cute thead tr {
	background-color: #c4c;
}

.cute tbody tr:nth-child(even) {
	background-color: #fdf;
}

/* For Cool */

.cool thead tr {
	background-color: #44c;
}

.cool tbody tr:nth-child(even) {
	background-color: #ddf;
}

/* For Passion */

.passion thead tr {
	background-color: #884;
}

.passion tbody tr:nth-child(even) {
	background-color: #ffd;
}
